@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

.header {
  width: 100vw;
  max-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #141414;
  color: #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: auto;
}

.logo {
  font-family: "Martel Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #e50914;
}

.menu {
  width: 100vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background-color: #141414;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9;
}

.menu.show {
  height: 100vh;
  max-height: 100vh;
}

.menuItem {
  font-size: 1.5rem;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: color 0.2s ease-in-out;
}

.menuItem:hover {
  color: #e50914;
}

.menuToggle {
  display: block;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  z-index: 11;
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    padding: 1rem 1rem;
    max-height: 90px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    max-height: none;
    position: relative;
    top: 0;
    width: auto;
  }

  .menuItem {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }

  .menuToggle {
    display: none;
  }
}
