.page {
    width: 100vw;
}

.containerStatistic {
    min-height: 30vh;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.moviesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (min-width: 768px) {
    .containerStatistic {
        min-height: 30vh;
        align-content: center;
    }

    .title {
        font-size: 2rem;

    }

}