.page {
    width: 100vw;
    height: 100vh;
    padding-top: 60px;
}

.containerStatistic {
    min-height: 30vh;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.containerLoading,
.containerMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    text-align: center;
}

.containerMessage p {
    font-size: 1.2rem;
    color: #afafaf;
}

.moviesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (min-width: 768px) {
    .containerStatistic {
        min-height: 30vh;
        align-content: center;
    }

    .title {
        font-size: 2rem;
    }
}