.page {
    width: 100vw;
    height: 100vh;
    padding-top: 60px;
}

.lightTheme {
    background-color: #f4f4f4;
    color: #333;
}

.darkTheme {
    background-color: #0D021A;
    color: white;
}

.containerStatistic {
    min-height: 30vh;
    margin-top: 40px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.containerLoading,
.containerMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    text-align: center;
}

.containerMessage p {
    font-size: 1.2rem;
    color: #afafaf;
}

.moviesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (min-width: 768px) {
    .containerStatistic {
        min-height: 30vh;
        align-content: center;
        margin-top: 80px;
    }

    .title {
        font-size: 2rem;
    }

    .moviesList {
        gap: 5px;
        justify-content: space-evenly;
    }
}